<div ng-controller="agencyCtrl as agency">
    <form class="form form--wrapper form--agence" name="agencyForm" novalidate role="form">

        <div class="uploader uploader--agence">
            <output id="uploader__output--agence" class="uploader__output">
                <img ng-src="{{croppedLogo}}" />
            </output>

            <div class="uploader-fields  uploader-fields--agence">
                <span class="uploader-fields__label">{{user.tabs.agency.uploader_label}}</span>
                <label class="uploader-fields__label--input-wrapper">
                    {{user.tabs.agency.uploader_button_text}} <input type="file" id="uploader-fields__input--agence" class="uploader-fields__input" image-cropper />
                </label>
                <span class="uploader-fields__caption">{{user.tabs.agency.uploader_caption}}</span>
            </div>
        </div>

        <div class="cropAreaLogo">
            <img-crop image="imageLogo" result-image="croppedLogo" area-type="circle" result-image-size="90" ></img-crop>
        </div>

        <div class="form-group form-group--agency">
            <label for="agencyName">Nom commercial de l'entreprise</label>
            <input class="form-control agency__input" type="text" id="agencyName" name="agencyName" data-ng-model="agencyName" />
        </div>

        <div class="form-group form-group--url">
            <label for="url">Url de votre site</label>
            <input class="form-control url__input" type="url" id="url" name="url" data-ng-model="url" placeholder="http://" />
        </div>

        <div class="form-group form-group--telephoneAgency">
            <label for="telephoneAgency">Telephone *</label>
            <span class="label label-danger" data-ng-show="submitted && agencyForm.telephoneAgency.$error.required">Obligatoire</span>
            <span class="label label-danger" data-ng-show="submitted && agencyForm.telephoneAgency.$error.pattern">Numéro Invalide</span>
            <input class="form-control telephone__input" type="tel" id="telephoneAgency" name="telephoneAgency" data-ng-model="telephoneAgency" data-ng-pattern='/^(\+\d{1,3}[- ]?)?\d{10,}$/' placeholder="+33 0" required />
        </div>

        <div class="form-group form-group--emailAgency">
            <label for="emailAgency">Email </label>
            <input class="form-control emailAgency__input" type="email" id="emailAgency" name="emailAgency" data-ng-model="emailagency" />
        </div>

        <div class="form-group form-group--validation">
            <button data-ng-click="agency.submit(agencyForm)" class="validation__button validation__button--agencyForm">Mettre à jour</button>
        </div>

    </form>
</div>
