<div ng-controller="agencyCtrl as agency">

    <div class="message message--validated" ng-show="agency.f.formerror||agency.f.formvalid">
        <div ng-class="{true:'text--valid', false:'text--error'}[agency.f.validated]">{{agency.f.message}}</div>
    </div>

    <form class="form form--wrapper form--agence" name="agencyForm" novalidate role="form">

        <div class="uploader uploader--agence">
            <output id="uploader__output--agence" class="uploader__output">
                <img ng-src="{{croppedLogo}}" />
            </output>

            <div class="uploader-fields  uploader-fields--agence">
                <span class="uploader-fields__label">{{user.tabs.agency.uploader_label}}</span>
                <label class="uploader-fields__label--input-wrapper">
                    {{user.tabs.agency.uploader_button_text}} <input type="file" id="uploader-fields__input--agence" class="uploader-fields__input" image-cropper />
                </label>
                <span class="uploader-fields__caption">{{user.tabs.agency.uploader_caption}}</span>
            </div>
        </div>

        <div class="cropAreaLogo">
            <img-crop image="imageLogo" result-image="croppedLogo" area-type="circle" result-image-size="90" ></img-crop>
        </div>

        <div class="form-group form-group--agency">
            <label for="email_name">Nom commercial de l'entreprise</label>
            <input class="form-control agency__input" type="text" id="email_name" name="email_name" data-ng-model="email_name" />
        </div>

        <div class="form-group form-group--url">
            <label for="url">Url de votre site</label>
            <input class="form-control url__input" type="url" id="url" name="url" data-ng-model="url" placeholder="http://" />
        </div>

        <div class="form-group form-group--telephone_agency">
            <label for="telephone_agency">Telephone *</label>
            <span class="label label-danger" data-ng-show="agency.f.submitted && agency.f.formerror.telephone_agency.$error.required">Obligatoire</span>
            <span class="label label-danger" data-ng-show="agency.f.submitted && agency.f.formerror.telephone_agency.$error.pattern">Numéro Invalide</span>
            <input class="form-control telephone__input" type="tel" id="telephone_agency" name="telephone_agency" data-ng-model="telephone_agency" data-ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10,}$/" placeholder="+33 0" required />
        </div>

        <div class="form-group form-group--email_agency">
            <label for="email_agency">Email </label>
            <!-- email not required but in order to show the validation from pattern, put both -->
            <span class="label label-danger" data-ng-show="agency.f.submitted && agency.f.formerror.email_agency.$error.required"></span>
            <span class="label label-danger" data-ng-show="agency.f.submitted && agency.f.formerror.email_agency.$error.pattern">Email invalide</span>
            <input class="form-control email_agency__input" type="email" id="email_agency" name="email_agency" data-ng-model="email_agency" data-ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
        </div>

        <div class="form-group form-group--validation">
            <button data-ng-click="agency.submit( agencyForm )" class="validation__button validation__button--agencyForm">Mettre à jour</button>
        </div>

    </form>
</div>
