<div class="uploader uploader--{{current.title}}">
    <output id="uploader__output--{{current.title}}" class="uploader__output"></output>

    <div class="uploader-fields  uploader-fields--{{current.title}}">
        <span class="uploader-fields__label">{{current.uploader_label}}</span>
        <label class="uploader-fields__label--input-wrapper">
            {{current.uploader_button_text}} <input type="file" id="uploader-fields__input--{{current.title}}" class="uploader-fields__input" />
        </label>
        <span class="uploader-fields__caption">{{current.uploader_caption}}</span>
    </div>
</div>
